@model PeopleInspection.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "People List";
}

<h1>People List</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@Model.SearchString" placeholder="Search" class="form-control" />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<div class="people-list">
    @foreach (var person in Model.People)
    {
        <partial name="~/Views/PeopleInspection/Partials/_PersonPartial.cshtml" model="person" />
    }
</div>

<div class="mt-3">
    <a asp-action="Create" class="btn btn-success">Add New Person</a>
</div>

